$navbar-content-width: $lower-content-width;

#footer-container {
    width: inherit;
    height: auto;
    margin-bottom: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #footer-content {
        height: inherit;
        width: $navbar-content-width;
        background-color: var(--footer-bg-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #content {
            margin: 20px 0;
            text-align: center;

            #a-container {
                width: $central-content-width;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                gap: 100px;

                a {
                    text-decoration: none;
                    color: var(--wide-color);
                    // color: color.scale($third-color, $lightness: 10%);
                    transition-duration: 200ms;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            #hr {
                width: inherit;
                height: 2px;
                background-color: var(--copyright-message-color);
                margin: 50px 0;
                opacity: 0.5;
            }

            #social-media-link {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;

                &>a {
                    width: 30px;
                    height: 30px;

                    margin-bottom: 30px;

                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    cursor: pointer;
                }

                #facebook {
                    background-image: url("../../assets/icons/facebook.png");
                }

                #instagram {
                    background-image: url("../../assets/icons/instagram.png");
                }

                #pinterest {
                    background-image: url("../../assets/icons/pinterest.png");
                }

                #whatsapp {
                    background-image: url("../../assets/icons/whatsapp.png");
                }
            }

            #copyright-message {
                color: var(--copyright-message-color);
            }
        }
    }
}